:root {
  --black: #000;
  --white: #fff;
  --grey: #ccc;
  --dark-grey: #343a40;
  --green: #daff01;
  --purple: #9353ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

.header {
  display: flex;
  flex-direction: column;
}

.header-menu-container {
  display: flex;
  height: 58px;
  background-color: var(--black);
  align-items: center;
  padding: 0 25px;
  justify-content: space-between;
  position: relative;
}

.header-search-container-mobile {
  display: flex;
  justify-content: center;
  padding: 0 28px;
  margin: 25px 0;
}

.header-search-input {
  flex: 1.2;
  height: 37px;
  padding-left: 10px;
  border: 1px solid var(--black);
}

.header-search-button {
  flex: 0.8;
  margin-left: 10px;
  border: 1px solid var(--black);
  font-size: 16px;
  background-color: var(--white);
  cursor: pointer;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 25px;
  transition: 0.4s;
}

.hamburger .barOne,
.hamburger .barTwo,
.hamburger .barThree {
  width: 22px;
  height: 2px;
  background-color: var(--green);
  margin: 4px 0;
  transition: 0.4s;
}

.change {
  transition: 0.4s;
  transform: translate(8px, -8px);
}

.change .barOne {
  transform: translate(0, 7px) rotate(-45deg);
}

.change .barTwo {
  opacity: 0;
}

.change .barThree {
  transform: translate(0, -5px) rotate(45deg);
}

.mobile-menu {
  display: flex;
  position: absolute;
  font-size: 16px;
  background-color: var(--dark-grey);
  color: var(--white);
  flex-direction: column;
  top: 0;
  right: 0;
  transition: opacity 0.4s ease-in-out;
  padding: 40px 25px 20px;
  width: 150px;
}

.mobile-menu span:hover {
  color: var(--green);
  cursor: pointer;
  font-weight: 700;
}

.mobile-menu span:not(:first-child) {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid var(--white);
}

.hide {
  opacity: 0;
}

.header-menu-large {
  display: none;
}

.banner-container img{
  display: block;
  width: 100%;
}

.category-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 25px 0;
}

.category-title {
  font-size: 28px;
  margin-bottom: 10px;
}

.category-items-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 12px
}

.category-item {
  display: flex;
  flex-direction: column;
  flex: 50%;
  justify-content: center;
  padding: 12px 15px;
}

.category-item picture,
.category-item img {
  width: 100%;
}

.category-item-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--black);
  color: var(--white);
}

@media (min-width: 768px) {
  .header-menu-large {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .hamburger {
    display: none;
  }

  .header-search-container-mobile {
    display: none;
  }

  .header-menu-container {
    color: var(--white);
    justify-content: unset;
  }

  .header-menu-labels {
    display: flex;
    font-size: 13px;
    align-items: center;
  }

  .header-menu-labels span {
    margin-left: 20px;
  }

  .header-menu-labels span:hover {
    color: var(--green);
    cursor: pointer;
  }

  .header-search-container {
    display: flex;
  }

  .header-search-input {
    width: 145px;
    height: 38px;
    border: 1px solid var(--white);
    flex: unset;
  }

  .header-search-button {
    flex: unset;
    font-size: 13px;
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--white);
    padding: 10px;
    margin-left: 15px;
  }

  .banner-container img{
    margin-top: -3px;
  }

  .category-item {
    flex: 33%;
  }

  .category-items-container {
    padding: 0 15px;
  }
}

@media (min-width: 1440px) {
  .header-menu-labels {
    font-size: 16px;
  }

  .header-search-input {
    width: 170px;
  }

  .category-items-container {
    flex-wrap: nowrap;
  }

  .category-item {
    flex: unset;
  }
}